.btn-unselect {
    color: #000;
    background-color: rgb(219,192,129);
    border-color: #888;
}

.btn-select {
    color: #000;
    background-color: rgb(255,217,100);
    border-color: #888;
    
}

.header {
    background-color: #68f;
}

.subject {
    background-color: rgb(255,217,100);
}

.option:hover {
    background-color: rgb(219,197,129);
}

.control {
    background-color: rgb(100,149,255);
}

.control-decorate {
    background-color: rgb(255,217,100);
}

.arrow but {
    background-color: rgb(144,148,168);
}

.arrow but:hover {
    background-color: rgb(66,99,119);
    border-color: black;
}

.submit {
    background-color: #B2B2B2;
}

.sider {
    background-color: rgb(100,149,255);
}

.sider-scroll-bar {
    background-color: rgb(66,99,119);
}

.sider-decorate {
    background-color: rgb(255,217,100);
}
