@font-face {
    font-family: fzss;
    src: url('./font/fzss.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: hack;
    src: url('./font/Hack-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
