.header {
    background-color: blue;
    display: block;
    height: 50px;
}

.bodyer {
    background-color: red;
    position: absolute;
    width: 100%;
    top: 50px;
    bottom: 0px;
}

.main {
    background-color: yellow;
    float: left;
    width: 80%;
    height: 100%;
    font-size: 30px;
}

.subject {
    background-color: orange;
}

.option {
    background-color: purple;
    position: absolute;
    bottom: 100px;
    width: 80%;
    height: 100px;
}

.control {
    background-color: pink;
    position: absolute;
    height: 100px;
    bottom: 0;
    width: 80%;
}

.sidebar {
    background-color: #aaa;
    height: 100%;
    font-size: 25px;
}
