.header {
    background-color: #1af;
    text-align: center;
    line-height: 40px;
    display: block;
    height: 40px;
}

.bodyer {
    background-color: #bbb;
    position: absolute;
    width: 100%;
    top: 40px;
    bottom: 0px;
}

.main {
    border-style: none solid none none;
    float: left;
    width: 75%;
    height: 100%;
    font-size: 20px;
    position: relative;
}

.subject {
    background-color: orange;
    font-size: 22px;
    overflow: auto;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 200px;
    padding: 8px;
}

.options {
    border-style: solid none;
    position: absolute;
    display: block;
    bottom: 120px;
    width: 100%;
    height: 80px;
    text-align: center;
}

.options botton {
    width: 22%;
    margin: 14px auto;
}

.control {
    background-color: pink;
    position: absolute;
    height: 120px;
    bottom: 0;
    width: 100%;
    overflow: auto;
    padding: 6px;
}

.control div {
    display: inline-block;
}

.sub-num {
    width: 50px;
}

.arrow {
    text-align: center;
    width: 60px;
    cursor: pointer;
}

.sidebar {
    float: right;
    width: 25%;
    background-color: #aaa;
    height: 100%;
    font-size: 18px;
    overflow: auto;
}

.hide {
    display: none;
}
