html {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html, body {
    height: 100%;
}

.header {
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: #68f;
}

.bodyer {
    position: absolute;
    top: 30px;
    left: 0;
    bottom: 0;
    width: 74%;
    border: 2px;
    border-right-style: solid;
}

.content {
    position: absolute;
    top: 0;
    bottom: 30%;
    width: 100%;
}

.subject {
    position: absolute;
    top: 10%;
    right: 12%;
    bottom: 8%;
    left: 12%;
    padding: 12px;
    border: 2px solid;
}

.subject-number {
    position: absolute;
    top: 10%;
    left: 12%;
}

.subject-number::before {
    content: "1";
    display: block;
    position: relative;
    top: -19px;
    left: -50%;
    width: 38px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    color: #fff;
    border-radius: 25px;
    background-color: red;
}

.answer {
    position: absolute;
    top: 90%;
    right: 12%;
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 2px solid black;
}

.control {
    position: absolute;
    overflow: auto;
    bottom: 0;
    width: 100%;
    height: 22%;
    border: 2px;
    border-top-style: solid;
}

.submit {
    position: absolute;
    left: 24%;
    bottom: 30%;
    width: 30%;
    border-radius: 0;
    border: 2px solid black;
}

.arrow {
    position: absolute;
    right: 4px;
    bottom: 20%;
    width: 50%;
    text-align: right;
}

.arrow but {
    border-radius: 25px;
    border: 2px solid black;
    margin: 0 5px;
}

.control-decorate {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80%;
    height: 35%;
    border: 2px solid black;
    border-right: none;
    border-bottom: none;
}

.options {
    position: absolute;
    bottom: 22%;
    width: 100%;
    text-align: center;
}

.options but {
    position: relative;
    top: 10px;
    margin: 0 2%;
    width: 18%;
    border-color: #888;
    border-radius: 25px;
    z-index: 1;
}

.sider {
    position: absolute;
    overflow: auto;
    top: 30px;
    right: 0;
    bottom: 0;
    width: 26%;
}

.hide {
    display: none;
}

.visibility {
    visibility: hidden;
}

.cover-page {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: rgba(0,0,0,0.6);
}

.show-page {
    position: fixed;
    top: 10%;
    right: 10%;
    bottom: 10%;
    left: 10%;
    z-index: 3;
    background-color: #fff;
}

.show-head {
    position: absolute;
    width: 100%;
    height: 30;
    padding: 3px;
    border-bottom: 2px solid black;
}

.close-page {
    float: right;
    border-radius: 25px;
}

.show-body {
    position: absolute;
    top: 30px;
    bottom: 0;
    width: 100%;
    padding: 4px;
    overflow: auto;
}
