html {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html, body {
    height: 100%;
}

.header {
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-bottom: solid 2px;
    background-color: #68f;
}

.bodyer {
    position: absolute;
    top: 30px;
    left: 0;
    bottom: 0;
    width: 74%;
    border: 2px;
    border-right-style: solid;
}

.content {
    position: absolute;
    top: 0;
    bottom: 30%;
    width: 100%;
}

.subject {
    position: absolute;
    top: 10%;
    right: 12%;
    bottom: 8%;
    left: 12%;
    padding: 12px;
    border: 2px solid;
    font-size: 20px;
    overflow: auto;
}
.subject-number {
    position: absolute;
    top: 10%;
    left: 12%;
    width: 38px;
    height: 38px;
    margin-top: -19px;
    margin-left: -19px;
    text-align: center;
    line-height: 38px;
    color: #fff;
    border-radius: 25px;
    background-color: red;
}

.answer {
    position: absolute;
    top: 90%;
    right: 12%;
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 2px solid black;
    background-color: #fff;
}

.control {
    position: absolute;
    overflow: auto;
    bottom: 0;
    width: 100%;
    height: 22%;
    border: 2px;
    border-top-style: solid;
}

.submit {
    position: absolute;
    left: 24%;
    bottom: 30%;
    width: 30%;
    z-index: 1;
    border-radius: 0;
    border: 2px solid black;
}

.arrow {
    position: absolute;
    right: 4px;
    bottom: 20%;
    width: 50%;
    text-align: right;
}

.arrow but {
    border-radius: 25px;
    border: 2px solid black;
    margin: 0 5px;
    padding: 2px auto;
    height: 48px;
    width: 48px;
    text-align: center;
    line-height: 125%;
}

.control-decorate {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80%;
    height: 35%;
    border: 2px solid black;
    border-right: none;
    border-bottom: none;
}

.pass-time {
    display: inline-block;
    font-size: 24px;
    margin-top: 5%;
    margin-left: 5%;
    font-family: fzss;
    font-weight: bold;
    font-size: 26px;
}

.options {
    position: absolute;
    bottom: 22%;
    width: 100%;
    text-align: center;
}

.options but {
    position: relative;
    top: 10px;
    margin: 0 2%;
    width: 18%;
    border-radius: 25px;
    font-family: fzss;
    font-size: 20px;
    font-weight: bold;
    z-index: 1;
}

.options but:hover {
    background-color: rgb(255,217,100);
}

.sider {
    position: absolute;
    overflow: auto;
    top: 30px;
    right: 0;
    bottom: 0;
    width: 26%;
}

.sider-scroll-bar {
    position: absolute;
    left: 0;
    height: 100%;
    width: 10%;
    border-right: solid 2px;
}

.sider-body {
    position: absolute;
    right: 0;
    width: 90%;
    height: 100%;
}

.sider-decorate {
    height: 30px;
    width: 80%;
    border-right: solid 2px;
    border-bottom: solid 2px;
    border-bottom-right-radius: 20px 20px;
}

.sider-content {
    position: absolute;
    top: 44px;
    right: 0;
    bottom: 0;
    left: 4px;
    overflow: auto;
    overflow-x: hidden;
}

.sider-line {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    color: black;
    margin-top: 4px;
    cursor: pointer;
}

.cover-page {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: rgba(0,0,0,0.6);
}

.show-page {
    position: fixed;
    top: 10%;
    right: 10%;
    bottom: 10%;
    left: 10%;
    z-index: 3;
    background-color: #fff;
}

.show-head {
    position: absolute;
    width: 100%;
    height: 30;
    padding: 3px;
    border-bottom: 2px solid black;
}

.close-page {
    float: right;
    border-radius: 25px;
}

.show-body {
    position: absolute;
    top: 30px;
    bottom: 0;
    width: 100%;
    padding: 4px;
    overflow: auto;
}

.hide {
    display: none;
}

.visibility {
    visibility: hidden;
}

.prominent:hover {
    background-color: orange;
}

.message {
    position: fixed;
    padding: 6px;
    max-width: 30%;
    word-break: break-all;
    z-index: 100;
    background: #FFE4C4;
    border: 2px solid black;
}
